.top-bar {
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    height: 50px;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: Didot, serif;
}

h2 {
    text-align: center;
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #333;
}
