
/* Additional styles for the user table */
.user-table {
    margin: 20px;
    border-bottom: solid #ddd;


}

.user-table table {
    width: 100%;
    border-collapse: collapse;
    
    
}

.user-table th, .user-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 3px solid #ddd;

}

/* Updated button styles with color #2c3e50 */
.user-table button {
    background-color: #e85641; /* Updated background color */
    color: white; /* Updated text color */
    border: none;
    padding: 10px; /* Updated padding */
    border-radius: 5px;
    font-size: 16px;

    cursor: pointer;
}

.user-table button:hover {
    background-color: #c05f50; /* Updated hover color */
}


/* Additional styles for the add user form */
.add-user-form {
    margin: 20px;
}

.add-user-form h2 {
    margin-bottom: 10px;

}

.add-user-form form {
    display: flex;
    flex-direction: column;
}

.add-user-form label {
    
    margin-bottom: 5px;
}

.add-user-form input {
    padding: 10px; /* Updated padding */
    width: 100%; /* Updated width */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.add-user-form button {
    background-color: #e85641; /* Updated background color */
    color: white; /* Updated text color */
    border: none;
    padding: 10px 25px; /* Updated padding */
    border-radius: 5px;
    font-size: 16px; /* Updated font size */
    cursor: pointer;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure the button is displayed as a block element */
}

.add-user-form button:hover {
    background-color: #c05f50; /* Updated hover color */
}
