<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fretch Clothing App</title>
  <link rel="stylesheet" href="admincalendar.component.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a routerLink="/admincalendar">Calendar</a></li>
      <li><a routerLink="/user">User</a></li>
      <li><a routerLink="/role">Role</a></li>
    </ul>
  </div>
  <div>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
  </div>
</body>
</html>
